* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-image: url("/background2.png");
    background-size: contain;
}

h1 {
    font-size: 60px;
    text-align: center;
    text-shadow: 2px 2px red;
    background-color: white;
    border-radius: 1rem;
    border: 10px solid black;    
  }

h2 {
    text-transform: capitalize;
}

h4 {text-align: center;
    text-transform: uppercase;
}

li {
    text-transform: capitalize;
}

p {
    text-transform: capitalize;
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: white;
    border: 10px solid black;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}